* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}
body {
    background-color: rgb(154, 255, 230);
   
}

.main {
    background-color: rgba(236, 35, 85, 0.507);
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin:auto ;
    box-shadow:0 0 10px 1px rgba(0, 0, 0.3);
}

.item {
    max-height: 256px;
    max-width: 490px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    width: calc(95vw / 2 - 10px );
    height: calc(95vw / 2 / 16 *9);
    background-size: cover;
    background-position: center;
    opacity: 0.65;
    transition: opasity 0.2s linear, transform 0.2s ease-in;
    filter: sepia(100%);
}
.heading {
    font-size: 48px;
    text-align: center;
    width: 100%;
    padding: 30px 0;
    font-family: 'Lacquer';
font-family: 'Akronim';
}

@media all and ( max-width: 768px ) {
.item {
    max-height: initial;
    max-width: initial;
width: 95vw;
height: calc(95vw / 16 * 9)  ;
margin: 5px 0;
} 

}

@media all and (min-width: 1200px) {
    .item:hover {
        opacity: 1;
        transform: scale(1.2)  rotate(5deg);
        z-index: 10;
        box-shadow: 0 0 15px 11px rgba(0, 0, 0.4)  ;
        filter: none
   }
   .autor:hover {
       border-color: #111;
   }
}
.link-wrapper {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.autor {
    color:rgb(0, 0, 0);
    text-decoration : none;
    border-bottom: 2px solid transparent;
transition: 0.3s;
}